<div *ngIf="error" class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
  <i class="bi bi-exclamation-triangle-fill me-2"></i>
  {{error}}
</div>

<div class="content-box">
  <h2 class="center mb-3">Create an account</h2>
  <form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">

    <div class="form-floating mb-3">
      <input type="text" formControlName="username" required id="username" placeholder="Your username" class="form-control" autocomplete="username">
      <label for="username">Username</label>
    </div>

    <div class="form-floating mb-3">
      <input type="email" formControlName="email" required id="email" placeholder="Your email" class="form-control">
      <label for="email">Email address</label>
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-floating mb-3">
      <input type="password" formControlName="password" required id="password" placeholder="Your password" class="form-control" autocomplete="current-password">
      <label for="password">Password</label>
      <small class="form-text text-muted">* Must be at least 8 characters long.</small><br>
      <small class="form-text text-muted">* Must contain at least one number, one lowercase and one uppercase letter.</small>
    </div>

    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-3 pt-0">Gender</legend>
      <div class="col-sm-9">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="female" value="female">
          <label class="form-check-label" for="female">Female</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="other" value="other">
          <label class="form-check-label" for="other">Other</label>
        </div>
      </div>
    </fieldset>
    
    <div class="row mb-3">
      <label for="birthdate" class="col-sm-3 col-form-label">Birth Date</label>
      <div class="col-sm-9">
        <input type="date" id="birthdate" formControlName="birthdate" required class="form-control">
      </div>
    </div>

    <div class="form-floating mb-3">
      <select class="form-select" id="country" formControlName="country" required>
        <option *ngFor="let country of countries" [value]="country.name.common">{{country.name.common}}</option>
      </select>
      <label for="country">Country of Residence</label>
    </div>

    <div class="form-group mb-3">
      <label for="profile-pic" class="form-label">Profile Picture</label>
      <div class="mb-3 mx-auto circle-crop">
        <img [src]="preview || '/images/Profile-PNG-File.png'" class="img-fluid" style="width:100%; height:100%; object-fit:cover">
      </div>
      <input class="form-control" type="file" formControlName="profilePic" (change)="handleFileUpload($event)">
    </div>
    
    <div class="row mb-3">
      <div class="col-6" id="lang_teach" formArrayName="lang_teach">
        <p>I want to teach</p>
        <div *ngFor="let lang of languages" class="form-check">
          <input class="form-check-input" type="checkbox" [value]="lang" [id]="'teach-' + lang" 
            [disabled]="signupForm.get('lang_learn')?.value?.includes(lang)" 
            (change)="handleCheckbox(langTeach, lang, $event)">
          <label class="form-check-label langWrapper" [for]="'teach-' + lang"><img [src]="'/images/' + lang + '.svg'" class="lang-flag">{{getLanguageName(lang)}}</label>
        </div>
      </div>

      <div class="col-6" id="lang_learn" formArrayName="lang_learn">
        <p>I want to learn</p>
        <div *ngFor="let lang of languages" class="form-check">
          <input class="form-check-input" type="checkbox" [value]="lang" [id]="'learn-' + lang" 
            [disabled]="signupForm.get('lang_teach')?.value?.includes(lang)" 
            (change)="handleCheckbox(langLearn, lang, $event)">
          <label class="form-check-label langWrapper" [for]="'learn-' + lang"><img [src]="'/images/' + lang + '.svg'" class="lang-flag">{{getLanguageName(lang)}}</label>
        </div>
      </div>
    </div>

    <p>Professional Profile</p>
    <div class="form-check form-switch mb-3">
      <input class="form-check-input" type="checkbox" role="switch" id="professional" formControlName="professional">
      <label class="form-check-label" for="professional"><small>I want to offer paid classes and educational content.
      </small></label>
    </div>

    <p>Private Profile</p>
    <div class="form-check form-switch mb-3">
      <input class="form-check-input" type="checkbox" role="switch" id="private" formControlName="private">
      <label class="form-check-label" for="private"><small>Your profile will not appear in search results.<br>
        Only users who you've contacted can see your profile.
      </small></label>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
    </div>
  </form>
</div>