<div class="d-flex justify-content-center" style="width:100%;">

    <div style="width: 40%;">
      <div class="content-box mx-auto mt-3 mb-5" style="position:relative; width:80%;">
          <h2 class="mb-3 center">{{viewedUser.username}}</h2>
          <div class="mb-4 mx-auto circle-crop">
            <img id="profile-pic-preview" [src]="viewedUser.profilePic || '/images/Profile-PNG-File.png'" style="min-width: 200px;">
          </div>
    
            <span *ngIf="viewedUser.professional" class="badge rounded-pill text-bg-primary fs-6 profBadge">
            <i class="bi bi-award-fill me-1"></i>Professional</span>
    
          <div class="row fs-6 mb-2">
              <span class="col-4 fw-bold">Gender</span>
              <div class="col" id="gender">
                <span>{{viewedUser.gender}}</span>
              </div>
          </div>
    
          <div class="row fs-6 mb-2">
              <span class="col-4 fw-bold">Age</span>
              <div class="col" id="birthdate">
                <span class="age">{{getUserAge(viewedUser.birthdate)}}</span>
              </div>
          </div>
    
          <div class="row fs-6 mb-4">
              <span class="col-4 fw-bold">Country</span>
              <div class="col" id="country">
                <span>{{viewedUser.country}}</span>
              </div>
          </div>
    
          <div class="row fs-6 mb-2">
              <p class="col-4 fw-bold">Can teach</p>
              <div class="col">
                <div id="lang_teach">
                    <div *ngFor="let lang of viewedUser.lang_teach" class="langWrapper">
                      <img src="/images/{{lang}}.svg" class="lang-flag">
                      <span class="lang-name">{{getLanguageName(lang)}}</span>
                    </div>
                </div>
              </div>
          </div>
    
          <div class="row fs-6 mb-2">
              <p class="col-4 fw-bold">Wants to learn</p>
              <div class="col">
                <div id="lang_learn">
                    <div *ngFor="let lang of viewedUser.lang_learn" class="langWrapper">
                      <img src="/images/{{lang}}.svg" class="lang-flag">
                      <span class="lang-name">{{getLanguageName(lang)}}</span>
                    </div>
                </div>
              </div>
          </div>
    
          <div class="d-flex justify-content-center mt-4">
              <form action="/account/inbox" method="POST">
                  <input style="display: none;" value="{{viewedUser._id}}" name="targetUserId">
                  <button type="submit" class="btn btn-primary mx-1">
                    <i class="bi bi-envelope-fill me-1"></i>Message {{ viewedUser.username }}
                  </button>
              </form>
          </div>
      </div>
    </div>
    
    <div class="ms-5 mt-3" style="width: 40%; max-height: 1000px">
    
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active text-black" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button">
            <i class="bi bi-stack me-1"></i>{{ viewedUser.username }}'s Decks
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-black" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" [disabled]="!viewedUser.professional">
            <i class="bi bi-clipboard2-fill me-1"></i>{{ viewedUser.username }}'s Offers
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-black" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" [disabled]="!viewedUser.professional">
            <i class="bi bi-star-fill me-1"></i>{{ viewedUser.username }}'s Reviews
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
    
        <div class="tab-pane fade show active" id="home-tab-pane" tabindex="0">
          <div class="d-flex justify-content-center flex-wrap px-auto mt-3">
          
          <div *ngFor="let deck of viewedUser.decks" class="card offer-card text-left mx-3 mb-4" style="width: 270px;">
            <h5 class="card-header center">{{deck.topic}}</h5>
            <div class="card-body">
    
              <div class="row mb-2">
                  <span class="card-text col"> 
                    <div class="langWrapper">
                      <img src="/images/{{deck.language}}.svg" class="lang-flag">
                      <span class="lang-name">{{getLanguageName(deck.language)}}</span>
                    </div>
                  </span>
                  <span class="card-text col addedIconWrapper">
                    <i [class]="'bi ' + getIcon(deck.level)"></i>{{stylizeText(deck.level)}}
                  </span>
              </div>
    
              <div class="row mb-3">
                  <span class="card-text col"><i class="bi bi-aspect-ratio-fill me-2"></i>{{deck.cards.length}} Cards</span>
              </div>
    
              <div class="d-flex justify-content-center mt-auto">
                  <a href="/account/decks/{{deck._id}}/clone" class="btn btn-sm btn-primary mx-1"><i class="bi bi-copy me-2"></i>Clone</a>
              </div>
            </div>
          </div>
          
          </div>
        </div>
    
        <div class="tab-pane fade" id="profile-tab-pane" tabindex="0">
          <div class="d-flex justify-content-center flex-wrap px-auto mt-3">
          
          <div *ngFor="let offer of viewedUser.offers" class="card offer-card text-left mx-3 mb-4">
            <h5 class="card-header center">{{offer.name}}</h5>
            <div class="card-body">
    
              <div class="row mb-2">
                <span class="card-text col"> 
                  <div class="langWrapper">
                    <img src="/images/{{offer.language}}.svg" class="lang-flag">
                    <span class="lang-name">{{getLanguageName(offer.language)}}</span>
                  </div>
                </span>
                <span class="card-text col addedIconWrapper">
                  <i [class]="'bi ' + getIcon(offer.level)"></i>{{stylizeText(offer.level)}}
                </span>
              </div>
              
              <div class="row mb-2">
                <span class="card-text col addedIconWrapper">
                  <i [class]="'bi ' + getIcon(offer.locationType)"></i>{{stylizeText(offer.locationType)}}
                </span>
              </div>
    
              <div class="row mb-2">
                <span class="card-text col">
                  <span class="addedIconWrapper">
                    <i [class]="'bi ' + getIcon(offer.classType)"></i>{{stylizeText(offer.classType)}}
                  </span>
                  <span *ngIf="offer.maxGroupSize">(max. {{offer.maxGroupSize}} students)</span>
                </span>
              </div>
              
              <div class="row mb-2">
                <span class="card-text col"><i class="bi bi-clock-fill me-2"></i>{{offer.duration}} Minutes</span>
                <span class="card-text col"><i class="bi bi-tag-fill me-2"></i><span class="price">$</span>{{offer.price}}.00</span>
              </div>
    
              <div class="d-flex justify-content-center mt-3">
                  <a href="/offers/{{offer._id}}/book" class="btn btn-warning"><i class="bi bi-calendar2-check-fill me-2"></i>Book</a>
              </div>
            </div>
          </div>
          
          </div>
        </div>
    
        <div class="tab-pane fade" id="contact-tab-pane" tabindex="0">
          <div class="d-flex justify-content-center flex-wrap px-auto mt-3" style="max-height: 55%; overflow-y:auto">
          
          <div *ngFor="let review of viewedUser.reviews" class="card review-card text-left mx-3 mb-4">
            <div class="card-body">
    
              <div class="row mb-2">
                <a href="/users/{{review.author._id}}" class="link-text col">
                <div class="d-flex align-items-center">
                      <div class="circle-crop me-2" style="width:50px;height:50px;display:inline-flex">
                        <img [src]="review.author.profilePic || '/images/Profile-PNG-File.png'">
                      </div>
                      <span class="fs-5">{{review.author.username}}</span>
                      
                </div></a>
                <div class="col-auto">
                  <div class="card-text ms-auto rating fs-5" style="width: fit-content;color: #ffca08;" [innerHTML]="drawStars(review.rating)"></div>
                  <div class="card-text ms-auto date" style="width: fit-content;">{{formatDate(review.date)}}</div>
                </div>
              </div>
    
              <div class="row">
                <span class="card-text col fst-italic">"{{review.text}}"</span>
              </div>
    
            </div>
    
            <div class="card-footer">
              <div class="row mb-2">
                <span class="card-text col"> 
                  <div class="langWrapper">
                    <img src="/images/{{review.language}}.svg" class="lang-flag">
                    <span class="lang-name">{{getLanguageName(review.language)}}</span>
                  </div>
                </span>
                <span class="card-text col addedIconWrapper">
                  <i [class]="'bi ' + getIcon(review.level)"></i>{{stylizeText(review.level)}}
                </span>
              </div>
              
              <div class="row">
                <span class="card-text col addedIconWrapper">
                  <i [class]="'bi ' + getIcon(review.locationType)"></i>{{stylizeText(review.locationType)}}
                </span>
                <span class="card-text col">
                  <span class="addedIconWrapper">
                    <i [class]="'bi ' + getIcon(review.classType)"></i>{{stylizeText(review.classType)}}
                  </span>
                  <span *ngIf="review.maxGroupSize">(max. {{review.maxGroupSize}} students)</span>
                </span>
              </div>
              
            </div>
            
          </div>
          
          </div>
        </div>
    
      </div>
    
    </div>
    
</div>